{% extends "base.html" %} {% load tailwind_filters %}
<!--Block title -->
{% block title %} Password Reset {% endblock title %}
<!--Block contnet -->
{% block content %}
<div class="max-w-xl mx-auto">
  <form
    method="post"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-auto"
  >
    <legend class="text-3xl p-4">Password Reset</legend>
    {% csrf_token %}
    <div class="mb-4 flex flex-col">{{ form|crispy }}</div>
    <div>
      {% include 'app/partials/button.html' with title='Reset Password' %}
    </div>
  </form>
</div>
{% endblock content %}
