{% extends 'base.html' %}
{% block title %}
New Course
{% endblock title %}
{% block content %}
<div class="max-w-lg mx-auto mt-6">
    <form method="post">
        <legend class="text-center">Create New Course</legend>
        {% csrf_token %}
        <div class="mb-6">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
    <input required name="name" type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
  <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
           <label for="description" class="sr-only">Course Description</label>
           <textarea name="description" id="description" rows="4" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Course Description" required></textarea>
       </div>
        <div class="mt-4">
            {% include 'app/partials/button.html' with title="submit" %}
        </div>
    </form>

</div>

{% endblock %}
