{% extends 'base.html' %}
{% load table_tags %}
<!--block content -->
{% block content %}
<section class="max-w-[1024px] mx-auto my-10">
<div class='flex justify-between mb-5'>
<h2 class="text-3xl font-semibold text-gray-500 uppercase text-center"> All Orders </h2>
<div>
<a href="{% url 'app:export_orders' %}" class="hover:bg-[#059685]  border border-[#059685] p-2 rounded"><i class="fa-solid fa-download"></i> Export</a>
</div>
</div>
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Courses</th>
                <th>Amount</th>
                <th>status</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>#{{order.id}}</td>
                <td>{{order.student.first_name}}</td>
                <td>{{ order.student.last_name }}</td>
                <td>
                {% for course in order.courses.all %}
                <span>{{ course.title }} </span>
                {% if not forloop.last %} ,
                {% endif %}
                {% endfor %}
                </td>
                <td>{{ order.total }}</td>
                
                <td>
                    {{ order.status}}
                </td>
                <td>{{order.order_date|date:'Y-m-d'}}</td>
            </tr>
        {% endfor %}
            
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Courses</th>
                <th>Amount</th>
                <th>status</th>
                <th>Order Date</th>
            </tr>
        </tfoot>
    </table>
    </section>
{% endblock content %}
{% block scripts %}
<script>
 new DataTable('#example');
</script>
{% endblock scripts %}
